<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MacetimTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <MacetimTools.Properties.Settings>
      <setting name="cb2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbox1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="radb1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radb2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radb3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtbx3" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtbx1" serializeAs="String">
        <value/>
      </setting>
      <setting name="cb1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbox2" serializeAs="String">
        <value>0</value>
      </setting>
    </MacetimTools.Properties.Settings>
  </userSettings>
</configuration>
